:root {
  --white: hsl(0, 0%, 100%);
  --slate100: hsl(202, 86%, 94%);
  --slate300: hsl(203, 41%, 72%);
  --slate500: hsl(200, 26%, 54%);
  --slate700: hsl(200, 24%, 40%);
  --slate900: hsl(202, 55%, 16%);
  --slate1000: hsl(201, 59%, 10%);

  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 1.6rem;
  background-color: var(--slate100);
}

label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--slate500);
  font-weight: 500;
  width: 100%;
}
input {
  padding-left: 2rem !important;
  font-size: 2rem !important;
  font-weight: 700;
  &:hover {
    border: 1px solid var(--slate700) !important;
  }

  &:focus {
    outline: 1px solid var(--lime) !important;
    border: none;
  }
}
// - Weights: 500, 700

.container {
  margin: 20rem auto;
  max-width: 100rem;
  display: flex;
  background-color: var(--white);

  border-radius: 25px;
}
.btn {
  background-color: var(--lime);
  border: none;
  padding: 1.2rem 3.2rem;
  border-radius: 100px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.6rem;
  gap: 2rem;
  cursor: pointer;
}

.primary-heading {
  font-size: 2.4rem;
}

.secondary-heading {
  font-size: 2.4rem;
}

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--slate700);
  margin-bottom: 1rem;
}

.calculator {
  background-color: var(--white);
  padding: 3rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-basis: 50%;

  &-heading {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-mortgage-amount {
    display: flex;
    flex-direction: column;
  }
  input {
    font-size: 1.6rem;
    padding: 1.2rem 0;
    border-radius: 5px;
    border: 1px solid var(--slate500);
    position: relative;
    margin-bottom: 3rem;
  }

  &-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-term {
      input {
        width: 90%;
      }
    }

    &-rate {
      input {
        width: 100%;
      }
    }
  }

  &-radio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    &-border {
      width: 100%;
      display: inline-flex;
      border: 1px solid var(--slate500);
      border-radius: 5px;
      gap: 1rem;
      align-items: center;
      input {
        margin: 0;
        margin-left: 1rem;
      }
      label {
        font-weight: 700;
        color: var(--slate900);
        margin: 0;
        padding: 1.6rem 0rem;
      }
    }
  }
}

.results {
  background-color: var(--slate900);
  color: var(--white);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  padding: 5rem;
  border-bottom-left-radius: 100px;
  flex-basis: 50%;
  &-description {
    color: var(--slate700);
    line-height: 1.6;
  }
  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    height: 100%;
  }
  &-filled {
    display: none;
    &-description {
      margin: 3rem 0;
      color: var(--slate700);
      line-height: 1.6;
    }
    &-repayments {
      border-top: 3px solid var(--lime);
      border-radius: 5px;
      background-color: var(--slate1000);
      padding: 3rem;
    }
    &-repay {
      border-top: 1px solid var(--slate700);
      padding-top: 4rem;
    }
  }
}
.value {
  font-size: 5.4rem;
  font-weight: 700;
  color: var(--lime);

  display: inline-block;
  padding-bottom: 3rem;
  &-symbol {
    font-size: 5.4rem;
    color: var(--lime);
    font-weight: 700;
  }
}
.repay {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--white);
  &-symbol {
    font-size: 2.6rem;
    font-weight: 700;
  }
}
